<nav class="navbar fixed-top navbar-light " style="background-color: #e3f2fd;">
  <div class="container justify-content-center">
    <a class="navbar-brand " href="#">
      <img src="../assets/images/logo_blog.png" alt="logo" width="200" height="60">
    </a>
  </div>
</nav>


<div class="jumbotron jumbotron space">
  <div class="container container-space">
    <h3>ADD YOUR BLOG HERE</h3>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Title" name="title" #title>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Content</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content" placeholder="Your Content" #content></textarea>
    </div>
    <button type="button" class="btn btn-outline-info" (click)="addBlog(title,content)" >Submit</button>
  </div>
</div>


<div class="jumbotron jumbotron-fluid  space back">
  <div class="container l ">
    <h3> BLOGS ARE HERE</h3><br><br><br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor = "let blog of blogs">

        <div class="card text-center" >
          <div class="card-body">
            <button  class="kal" (click) = "removeBloge(blog)">X</button>
            <h5 class="card-title">{{blog.title}}</h5><hr>
            <p class="card-text">{{blog.content}}</p>
          </div>
        </div>

      </div>
      

    </div>
  </div>
</div>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(24, 23, 23, 0.836); color:#fff;">
    © 2020 Copyright  :  BLOGS
  </div>
  <!-- Copyright -->
</footer>


